# User-specific files
.vs/
.idea/
*.suo
*.user

# Build results
bin/
obj/

# Avalonia
.avalonia-build-tasks/

# Test results
TestResults/

# App Data & Settings
Settings.dat
cookies.dat

# Secrets
.env
*.env
appsettings.Development.json

# Whisper Models
YoutubeDownloader/models/
*.bin
